body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.login_container,
.signup_container{
    display: flex; 
}

.login_left,
.signup_right{
    max-width: 50%; 
    height: 100vh;
    overflow:scroll;

}

.login_left::-webkit-scrollbar,
.signup_right::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.login_left .form-header,
.signup_right .form-header{
    padding: 0 4rem ;
    margin-bottom: 3rem;
}

.login_left .form-container,
.signup_right .form-container{
    padding-left:4rem ;
}

.login_left .logo,
.signup_right .logo{
    color: #0b8585;
    font-size: 25px;
    font-weight: 600; 
    margin: 4rem 0 5rem 4rem;
}

.login_left h1,
.signup_right h1{
    font-size: 30px;
    margin-bottom: 0;
}

.login_left p,
.signup_right p{
    margin: 13px 0; 
    color: grey;
    font-size: 18px;
}

.login_left input[type=text],
.login_left input[type=email],
.login_left input[type=password],
.signup_right input[type=text],
.signup_right input[type=email],
.signup_right input[type=password]{
    width: 79%; 
    background-color: white; 
    border: 1px solid lightgrey; 
    border-radius: 10px; 
    color: grey; 
    padding: 10px; 
    margin-bottom: 20px;
    margin-top: 7px;
    font-size: 18px;
}

.login_left label,
.signup_right label{
    font-weight: 600;
}

.login_left .remember-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 30px;
}
.signup_right .terms-container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 85%;
    margin-bottom: 30px;
}


.login_left .check{
    font-weight: 400;
    margin-left:-180px;
}
.signup_right .terms{
    font-weight: 400;
    margin-left: 5px;
}

.login_left .remember-container p,
.button-container p span a{
    color: #0b8585;
    font-weight: 600;
    
}

.login_left input[type=checkbox],
.signup_right input[type=checkbox] {
    width: 25px;
    height: 25px;
    background-color: #0b8585;
}

.login_left .form-group,
.signup_right .form-group{
    display: flex;
    flex-direction: column;
}

.login_left button,
.signup_right button{
    width: 85%; 
    background-color: #0b8585; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    padding: 15px; 
    margin-bottom: 1.3rem;
    font-size: 18px;
}

.login_left .google,
.signup_right .google{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 85%;
}
.login_left a,
.signup_right a{
    text-decoration: none;
}
.login_left .google img,
.signup_right .google img{
    width: 30px;
    height: 30px;
    margin-right: 0.4rem;
}

.login_right,
.signup_left{
    width: 50%; 
    position: relative;
    margin: 15px;
    height: 100vh;
}

.image-container{
    background: url(images/ball-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.image-text{
    background-color: rgba(0, 0, 0, 0.301);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 15px 50px 15px 15px;
}

.image-text h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.image-text p{
    font-size: 16px;
    margin-top: 0;
}

.button-container p {
    display: flex;
    justify-content: center;
}
.button-container p span {
    padding-left: 4px;
}

.su-image-container{
    background: url(images/ball-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
