body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.login_container{
    display: flex; 
    /* height: 100vh; */
}

.login_left{
    width: 50%; 
    margin: auto;
}

.login_left .logo{
    color: rgb(11, 133, 133);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 3em;
}

.login_left h1{
    margin-bottom: 5px;
}

.login_left p{
    margin: 15px 0; 
    color: grey;
    font-size: 18px;
}

.login_left input[type=email]{
    width: 80%; 
    background-color: white; 
    border: 1px solid lightgrey; 
    border-radius: 10px; 
    color: grey; 
    padding: 15px; 
    margin-bottom: 30px;
    margin-top: 8px;
    font-size: 18px;
}

.login_left input[type=password]{
    width: 80%; 
    background-color: white; 
    border: 1px solid lightgrey; 
    border-radius: 10px; 
    color: grey; 
    padding: 15px; 
    margin-bottom: 30px;
    margin-top: 8px;
    font-size: 18px;
}

.login_left label{
    font-weight: 600;
}

.login_left .remember-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 30px;
}


.login_left .check{
    font-weight: 400;
    margin-left: -120px;
}

.login_left .remember-container p{
    color: rgb(11, 133, 133);
}

.login_left input[type=checkbox] {
    width: 25px;
    height: 25px;
    background-color: rgb(11, 133, 133);
}

.login_left .form-group{
    display: flex;
    flex-direction: column;
}

.login_left button{
    width: 85%; 
    background-color: seagreen; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    padding: 15px; 
    margin-bottom: 10px;
}

.login_left .google{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 85%;
}

.login_right{
    width: 50%; 
    position: relative;
    margin: 15px;
}

.image-container{
    background: url(images/atlete.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: fill; */
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.image-text{
    background-color: rgba(0, 0, 0, 0.301);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 15px 50px 15px 15px;
}

.image-text h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.image-text p{
    font-size: 16px;
    margin-top: 0;
}


